<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=640" />

    <link rel="stylesheet" href="{{ site._basepath }}/static/merlot/stylesheets/core.css" media="screen"/>
    <link rel="stylesheet" href="{{ site._basepath }}/static/merlot/stylesheets/mobile.css" media="handheld, only screen and (max-device-width:640px)"/>
    <link rel="stylesheet" href="{{ site._basepath }}/static/merlot/stylesheets/pygment_trac.css"/>

    <script type="text/javascript" src="{{ site._basepath }}/static/merlot/javascripts/modernizr.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site._basepath }}/static/merlot/javascripts/headsmart.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('#main_content').headsmart()
      })
    </script>
    <title>
      {% if page.title %}
        {{ site._name }} #{{ page.title }}: {{ page.subtitle }}
      {% else %}
        {{ site._name }}: {{ site._description_website }}
      {% endif %}
    </title>
    
    {% if page.title %}
      <meta property="og:title" content="{{ site._name }} #{{ page.title }}: {{ page.subtitle }}" />
    {% else %}
      <meta property="og:title" content="{{ site._name }}" />
    {% endif %}
    
    {% if page.desc %}
      <meta property="og:description" content="{{ page.desc }}" />
    {% else %}
      <meta property="og:description" content="{{ site._description_website }}" />
    {% endif %}
        
    <meta property="og:image" content="{{ site._url }}/static/images/logo.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
  </head>

  <body>
    <div class="shell">

      <header>
        <span class="ribbon-outer">
          <a href="/" class="ribbon-inner">
            <h1>{{ site._name }}</h1>
            <h2>
              {% comment %} get a random number then add page.title then subtract size until it fits {% endcomment %}
              {% capture random_index %}{{ 'now' | date: '%S' | times: site._taglines.size | divided_by: 60 | plus: page.title }}{% endcapture %}
              {% capture mod_count %}{{ random_index | minus: site._taglines.size | divided_by: site._taglines.size }}{% endcapture %}
              {% for i in (0..mod_count) %}
                {% capture random_index %}{{ random_index | minus: site._taglines.size }}{% endcapture %}
              {% endfor %}

              {% for tagline in site._taglines offset:random_index limit:1 %}
                {{ tagline }}
              {% endfor %}
            </h2>
          </a>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>
      </header>

      <section id="downloads">
        <span class="inner">
          <a href="{{ site._itunes_link }}" class="zip"><em>view on</em> iTUNES</a><a href="http://feeds.feedburner.com/weeklyonceaweek" class="tgz"><em>view</em> RSS</a>
        </span>
      </section>

      <span class="banner-fix"></span>

      <section id="main_content">
        
        {{ content }}

      </section>

      <footer>
        <span class="ribbon-outer">
          <span class="ribbon-inner">
            <p>Hosted by <a href="https://twitter.com/#!/newsguy777">John Crandall</a> and <a href="https://twitter.com/#!/jasongregori">Jason Gregori</a></p>
          </span>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>
          <p>Hosted on <a href="http://pages.github.com">GitHub</a> using Merlot</p>
        <span class="octocat"></span>
      </footer>

    </div>

    
  </body>
</html>
